.login {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #003580;
  }
  
  .lContainer {
    display: flex;
    position: relative;
    flex-direction: column;
    gap: 10px;
    width: 225px;

    span{
      display: flex;
      align-items: center;
      justify-content: center;
      position: absolute;
      color: red;
      -webkit-text-stroke: 0.1px black;
      top: -20%;
      left: -20px;
      width: 265px;
    }
  }

  .lTitleWrapper{
    width: fit-content;
    height: fit-content;
    position: absolute;
    top: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    a{
      text-decoration: none;
      color: white;

      .lSubtitle{
        font-size: 40px ;
        line-height: 40px;
        font-weight: 700; 
        color: #0071c2;
        display: flex;
        justify-content: end;
      }

      .lTitle{
        font-size: 110px ;
        line-height: 110px;
        font-weight: 800; 
        color: white;
      }
    }
  }

  .post-it {
    font-family: 'Permanent Marker', cursive !important;
    transform: rotate(-15deg);
     width:250px;
    height:240px;
    position:absolute;
    right: 70%;
    background:#ffa;
    overflow:hidden;
    margin:30px auto;
    padding:20px;
    border-radius:0 0 0 30px/45px;
    box-shadow:
      inset 0 -40px 40px rgba(0,0,0,0.2),
      inset 0 25px 10px rgba(0,0,0,0.2),
      0 5px 6px 5px rgba(0,0,0,0.2);
    font-family: 'Permanent Marker', cursive;
    line-height:1.7em;
    font-size:15px;
    color:black;

    h1{
      text-align: center;
      font-size:25px; 
      position:relative;
      margin-bottom: 20px;
      font-family: 'Permanent Marker', cursive !important;
      letter-spacing: 1px;
    }

    p{
      font-family: 'Permanent Marker', cursive !important;
      letter-spacing: 1px;
    }
  }
  
  
  .lInput{
    height: 25px;
    padding: 10px;
  }
  
  .lButton {
    border: none;
    padding: 10px 20px;
    background-color: #0071c2;
    color: white;
    font-weight: bold;
    cursor: pointer;
    border-radius: 5px;
  }
  
  .lButton:disabled{
    background-color: #0071c28c;
    cursor: not-allowed;
  }