.app.dark {
  background-color: #111;
  color: rgb(156, 156, 156);

  .chartGrid {
    stroke: rgba(228, 228, 228, 0.219);
  }

  .table {
    background-color: #111;

    .tableCell {
      color: gray;
    }
  }

  .navbar {
    color: #999;
    border-color: #333;

    .search {
      border-color: gray;
    }
  }

  .sidebar {
    background-color: #111;
    border-color: #333;

    .sbComingSoon{
      background-color: #252525;
      li:hover{
        background-color: #252525;
      }
    }

    .top {
      .logo {
        color: #999;
      }
    }
    hr {
      border-color: #333;
    }

    ul {
      li {
        &:hover {
          background-color: #333;
        }

        .icon {
          color: #999;
        }
      }
    }
  }

  .datatable {
    .MuiTablePagination-actions, .MuiButtonBase-root, .MuiDataGrid-selectedRowCount{
      color: #999;
    }
    .MuiTablePagination-root{
      color: #999;
    }
    .MuiDataGrid-cellContent{
      color: #999;
      text-transform: capitalize;
    }
    .MuiDataGrid-columnHeaderTitle{
      color: #999;
    }
    .cellWithImg{
      color: #999;
      text-transform: capitalize;
    }
    .link{
      background-color: green;
      color: white;
      border: 1px solid white;
      padding: 5px 10px;
    }
    .viewButton {
      padding: 5px 10px;
      color: white;
      background-color: #006ce4;
      border: 1px solid white;
    }
    
    .deleteButton {
      padding: 5px 10px;
      color: white;
      background-color: crimson;
      border: 1px solid white;
    }

    .datagrid {
      background-color: #252525;
      border: none;

      .cellWithStatus {
        color: #252525;
        border: none;
      }
    }
  }

  input{
      background-color: transparent;
  }

  .homeContainer{
    .widget{
      box-shadow: none;
      background-color: #252525;
      padding: 15px;
    }
    .featured{
      box-shadow: none;
      background-color: #252525;
      padding: 15px;
      border-radius: 10px;
    }
    .chart{
      box-shadow: none;
      background-color: #252525;
      padding: 15px;
      border-radius: 10px;
    }
    .listContainer{
      box-shadow: none;
      background-color: #252525;
      padding: 15px;
      border-radius: 10px;
    }
    .table{
      background-color: #252525;
    }
  }

  .new{
    .newContainer{
      .top{
        box-shadow: none;
        -webkit-box-shadow: none;
        background-color: #252525;
        padding: 15px;
        border-radius: 10px;
      }
  
      .bottom{
        box-shadow: none;
        -webkit-box-shadow: none;
        background-color: #252525;
        padding: 15px;
        border-radius: 10px;
      }
    }
  }
}


