.header {
  background-color: #003B95;
  color: white;
  display: flex;
  justify-content: center;
  position: relative;
}

.headerContainer {
  width: 100%;
  max-width: 1024px;
  margin: 0px 0px 60px 0px;
}

.headerContainer.listMode {
  margin: 20px 0px 0px 0px;
}

.headerList {
  display: flex;
  gap: 40px;
  margin-bottom: 70px;
}

.headerListItem {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 14px;
}

.headerListItem.active {
  border: 2px solid white;
  padding: 10px 15px;
  border-radius: 40px;
  border-color: #ffb700;
  color: #ffb700;
}

.headerComingSoon {
  border: 1px solid white;
  border-radius: 40px;
  display: flex;
  flex-direction: column;
  color: lightgrey;
  border-color: lightgrey;
  position: relative;
}

.headerNavCategory{
  display: flex;
  flex-direction: row;
  gap: 35px;
  padding: 10px 15px;
}

.headerNavCategoryComment{
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0px 10px 2.5px 10px;
  position: absolute;
  bottom: -35%;
  left: 0;
  right: 0;
  margin: auto;
  width: fit-content;
  background-color: #003580;
  border: 1px solid white;
  border-radius: 20px;
  border-color: lightgrey;
  color: #ffb700;
}


.headerTitle{
  font-size: 42px;
}
.headerDesc {
  margin-top: 5px;
  font-size: 20px;
}

.headerBtn {
  background-color: #006ce4;
  color: white;
  font-weight: 500;
  font-size: 18px;
  border: none;
  padding: 15px 25.5px;
  cursor: pointer;
  border-radius: 3px;
}

.btn2{
  margin-top: 20px;
}

.headerSearch {
  height: px;
  background-color: #ffb700;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 3.5px;
  gap: 3.5px;
  border-radius: 5px;
  position: absolute;
  bottom: -25px;
  width: 100%;
  max-width: 1024px;
}

.headerIcon {
  color: black;
  font-size: 22px;
}

.headerSearchItem {
  display: flex;
  align-items: center;
  gap: 10px;
  background-color: white;
  height: 52px;
  padding: 2px 8px;
  color: black;
  border-radius: 3px;
  transition: 0.25s;
}

.headerSearchItem:nth-child(1){
  width: 30%;
}
.headerSearchItem:nth-child(2){
  width: 30%;
}.headerSearchItem:nth-child(3){
  width: 25%;
}

.headerSearchItem:hover{
  background-color: rgb(242, 242, 242);
  transition: 0.25s;
}

.headerSearchItem:hover .headerSearchInput{
  background-color: rgb(242, 242, 242);
  transition: 0.25s;
}

.headerSearchInput {
  color: black;
  border: none;
  outline: none;
  font-size: 15px;
  font-weight: 500;
  width: 100%;
  transition: 0.25s;
}

.headerSearchInput::placeholder {
  color: black;
  opacity: 1;
}

.headerSearchText {
  color: black;
  cursor: pointer;
  font-size: 15px;
  font-weight: 500;
}

.date {
  position: absolute;
  top: 65px;
  z-index: 2;
  left: 36.5%;
  -webkit-box-shadow: 0px 0px 10px -3px rgba(0, 0, 0, 0.6);
  box-shadow: 0px 0px 10px -3px rgba(0, 0, 0, 0.6);
}

.options {
  z-index: 2;
  position: absolute;
  top: 65px;
  right: 11.25%;
  background-color: white;
  color: black;
  border-radius: 5px;
  -webkit-box-shadow: 0px 0px 10px -3px rgba(0, 0, 0, 0.6);
  box-shadow: 0px 0px 10px -3px rgba(0, 0, 0, 0.6);
  width: 270px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.optionItem {
  width: 200px;
  display: flex;
  justify-content: space-between;
  margin: 10px;
}

.optionCounter {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 12px;
  color: black;
}

.optionCounterButton {
  width: 30px;
  height: 30px;
  border: 1px solid #006ce4;
  color: #006ce4;
  cursor: pointer;
  background-color: white;
}

.optionCounterButton:disabled {
  cursor: not-allowed;
}
