.navbar{
  padding-top: 10px;
  height: 60px;
  background-color: #003B95;
  display: flex;
  justify-content: center;
}

.navContainer{
  width: 100%;
  max-width: 1024px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo{
  font-weight: 700;
  font-size: 24px;
  margin-left: 20px ;
}

.navUserName{
  display: flex;
  align-items: center;
  font-size: 14px;
}

.navButton{
  margin-left: 20px;
  border: none;
  padding: 6px 10px;
  cursor: pointer;
  color: #006ce4;
  font-weight: 500;
  border: 1px solid #006ce4;
  border-radius: 3px;
  font-size: 14px;
  line-height: 20px;
}