.navbar{
  height: 60px;
  background-color: #003B95;
  display: flex;
  justify-content: center;
}

.navContainer{
  width: 100%;
  max-width: 1024px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo{
  font-weight: 700;
  font-size: 27px;
}
.beta{
  color:#ffb700 ;
  border:1.5px solid #ffb700;
  border-radius: 10px;
  font-size: 10px;
  font-weight: 800;
  padding: 3px 4px;
  margin-left: 7.5px ;

}

.navUserName{
  display: flex;
  align-items: center;
  font-size: 14px;
  text-transform: capitalize;
}

.navButton{
  margin-left: 20px;
  border: none;
  padding: 6px 10px;
  cursor: pointer;
  color: #006ce4;
  font-weight: 500;
  border: 1px solid #006ce4;
  border-radius: 3px;
  font-size: 14px;
  line-height: 20px;
}